apiVersion: v1
kind: Service
metadata:
  name: securingweb
  namespace: securingweb
  labels:
    app: securingweb-app
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/actuator/prometheus"
spec:
  type: ClusterIP
  selector:
    app: securingweb-app
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
